@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Set the background color of body to tan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-top:2px; 
    margin-left:2px;
    margin-right: 2px;
}

.text-center {
  text-align: center;
}

.formulario_registro {
    padding-top: 10px;
    width: 301px;
    height: 275px;
}


.container-custom {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
}

.card-custom {
  width: 18rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}


.footer {
    overflow: hidden;
    background-color: #000;
    height: 130px;
    padding-left: 10px;
    display: block;
    color: blue;
}

.img_social_footer {
    height: 30px;
    padding-top: 5px;
}

.img-responsive {
    width: 100%;
    max-width: 30rem;
    height: auto;
}


@media screen and (min-width: 500px) and (max-width: 700px) {
    /* CELULARES */
    .card-custom {
        width: 100%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    /* CELULARES */
    .card-custom {
        width: 40%;
    }

}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    /* CELULARES */
    .card-custom {
        width: 30%;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1200px) {
    /* CELULARES */
    .card-custom {
        width: 20%;
    }

}